{% extends 'base.html' %}
{% block title  %}editnewbusiness{% endblock %}
{% block body  %}
<div class="container m-5">
    <h3>Edit Business</h3>
    <br>
  <form action="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{edit_business_form.as_p}}
    <input type="submit" value="Update Business" class="btn btn-success">
  </form>
    <a href="{% url 'Home_Page' %}">
        <button type="button" class="btn btn-success">Go Back</button>
    </a>
</div>
{% endblock  %}